* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: #eee;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-end; /* Changement ici pour aligner à droite */
    align-items: center;
    padding: 10px 20px;
    background-color: #444;
}

.profile-menu {
    position: relative;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #666;
    border-radius: 5px;
    overflow: hidden;
}

.profile-dropdown button {
    display: block;
    padding: 10px;
    border: none;
    background-color: #666;
    color: #fff;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.profile-dropdown button:hover {
    background-color: #555;
}

.form-container {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input, form select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.submit-btn {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #555;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #444;
}

.footer-btn {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
}

@media (max-width: 768px) {
    .search-bar, .date-filter {
        flex: 1 1 100%;
        margin: 5px 0;
        width: auto;
    }
}
